{% extends 'base.html' %}
{% block content %}

 <!-- Header-->
 <header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About us</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to Arlan Coffee</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <br/><br/>
<p> align="justify">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere rerum aspernatur aperiam deleniti fugiat magni repudiandae ipsam laudantium enim voluptate culpa odio pariatur amet natus minima, ratione harum cum possimus quo at fugit sed quasi, voluptatibus animi? Facere eveniet fugit, maxime debitis harum amet accusamus perferendis autem ad explicabo nemo distinctio neque omnis aliquam esse ullam quas nostrum voluptate ratione dignissimos pariatur voluptatem qui alias eius? Laboriosam velit enim ea. Officiis voluptatum deleniti tenetur suscipit nemo, ullam sed maxime hic quas laborum mollitia asperiores perferendis optio eveniet similique quos, atque tempore vitae commodi rem ad. Quaerat fugit quos sit pariatur rerum ab voluptatem impedit labore perferendis! Soluta nihil 
<br/><br/>     
consequuntur, ab ipsum quisquam rem beatae corporis voluptas similique culpa numquam pariatur amet velit nostrum in, odit reprehenderit commodi unde dolore aliquid. Similique asperiores perferendis repudiandae incidunt atque in possimus alias quod autem illo eius, dolor a, eligendi accusantium. Beatae est culpa consequatur magnam, minima repellat labore, accusamus nesciunt vero, laborum animi unde laudantium? Doloribus reprehenderit placeat veniam mollitia ullam laboriosam nihil deserunt voluptatem labore rerum recusandae, earum sed. Molestiae provident cum sed rem officia optio, minus, tenetur eius harum corrupti ea aut ab earum asperiores possimus voluptatibus magnam neque aliquid accusamus illum adipisci maiores suscipit laudantium nisi! Delectus vel repellendus odit voluptatem,
<br/><br/>
impedit eum aut enim architecto expedita eos? Repellat debitis illo tempora nemo quam, voluptatem minus ipsa deleniti ullam placeat magnam unde hic dolor iusto illum iste aliquid laudantium consequatur eius quasi tempore autem et asperiores! Accusantium cupiditate repellat facere autem voluptatibus animi quidem, repudiandae quaerat soluta perferendis labore illum eligendi quas porro rerum mollitia aperiam itaque id, vitae tempore perspiciatis quis magnam earum culpa. Eaque neque dignissimos magnam quis molestias illo. Asperiores eius aspernatur dolorem at ipsa voluptas in exercitationem impedit magnam, officia dolor.</p>
<br/><br/>
            </div>
        </center>
    </div>
</div>

{% endblock %}